# app/env
FRAMEFINDER_ENVIRONMENT=dev

# AWS
FRAMEFINDER_AWS_REGION=eu-west-1
FRAMEFINDER_AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY
FRAMEFINDER_AWS_SECRET_ACCESS_KEY=YOUR_SECRET_KEY

# Buckets / prefixes
FRAMEFINDER_S3_BUCKET_VIDEOS=framefinder-videos-rahul
FRAMEFINDER_S3_BUCKET_INDEXES=framefinder-indexes-rahul
FRAMEFINDER_S3_KEY_PREFIX=uploads/
FRAMEFINDER_S3_INDEX_PREFIX=indexes/

# Local dev
FRAMEFINDER_CORS_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173","http://localhost:3000"]
FRAMEFINDER_HOST=0.0.0.0
FRAMEFINDER_PORT=8000
